body {
    font-family: 'Arial', sans-serif;
    background-color: #51daec;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(245, 238, 238);
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

#taskInput {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

td[contenteditable="true"] {
    outline: 1px solid #007BFF;
}